.main-content {
  width: 1440px;
  margin: auto;
  font-size: 14px;
  flex-direction: column;
}

.connect-container {
  margin: 20px 0;
}

.container {
  display: flex;
}

.sender, .receiver {
  flex: 1;
}

.sender {
  margin-right: 8px;
}

.receiver {
  margin-left: 8px;
}

.lines-header {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #444;
  line-height: 30px;
  color: white;
  padding-left: 10px;
}

.lines-body {
  width: 100%;
  background-color: #222;
  min-height: 300px;
  padding: 10px 0 20px 0;
}

.line, .command-line {
  box-sizing: border-box;
  width: 100%;
  color: #f1f1f1;
  background-color: #222;
  outline: none;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
}

.line:hover {
   background-color: #444;
}

.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
}

.button:active::before { padding: 1px 0 0; }

.button.black {
    background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #939393;
    color: #fff;
    text-shadow: 0 1px 0 #2f2f2f;
    padding: 8px 16px;
    outline: none;
}

.button.black:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181;
}

.button.black:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e;
}
/* ------ Default Style ---------- */
.gauge-container {
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  padding: 10px;
  background-color: #222;
  margin: 7px;
  border-radius: 6px;
  border-style: solid;
  position: relative;
  border-width: thick;
}
.label {
  color: white;
  padding: 8px;
  font-family: Arial;
}
.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */ 
.gauge-container > .gauge .dial {
  stroke: #334455;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}




/* ------- Alternate Style ------- */
.wrapper {
  height: 100px;
  float: left;
  margin: 7px;
  overflow: hidden;
}
.wrapper > .gauge-container {
  margin: 0;
}
.gauge-container.two {
}
.gauge-container.two > .gauge .dial {
  stroke: #334455;
  stroke-width: 10;
}
.gauge-container.two > .gauge .value {
  stroke: orange;
  stroke-dasharray: none;
  stroke-width: 13;
}
.gauge-container.two > .gauge .value-text {
  fill: #ccc;
  font-weight: 100;
  font-size: 1em;
}



/* ------- Alternate Style ------- */
.gauge-container.three {
}
.gauge-container.three > .gauge .dial {
  stroke: #334455;
  stroke-width: 2;
}
.gauge-container.three > .gauge .value {
  stroke: #C9DE3C;
  stroke-width: 5;
}
.gauge-container.three > .gauge .value-text {
  fill: #C9DE3C;
} 



/* ----- Alternate Style ----- */
.gauge-container.four > .gauge .dial {
  stroke: #334455;
  stroke-width: 10;
}
.gauge-container.four > .gauge .value {
  stroke: #F32450;
  stroke-dasharray: none;
  stroke-width: 10;
}
.gauge-container.four > .gauge .value-text {
  fill: #F32450;
  transform: translate3d(26%, 20%, 0);
  display: inline-block;
}
.gauge-container.four .value-text {
  color: #F32450;
  font-weight: 100;
  position: absolute;
  bottom: 18%;
  right: 10%;
  display: inline-block;
} 



/* ----- Alternate Style ----- */
.gauge-container.five > .gauge .dial {
  stroke: #334455;
  stroke-width: 5;
}
.gauge-container.five > .gauge .value {
  stroke: #F8774B;
  stroke-dasharray: 25 1;
  stroke-width: 5;
}
.gauge-container.five > .gauge .value-text {
  fill: #F8774B;
  font-size: 0.7em;
}



/* ----- Alternate Style ----- */
  .gauge-container.six > .gauge .dial {
    stroke: #334455;
    fill: "#334455";
    stroke-width: 20;
  }
  .gauge-container.six > .gauge .value {
    stroke: #FF6DAF;
    stroke-width: 20;
  }
  .gauge-container.six > .gauge .value-text {
    fill: #FF6DAF;
    font-size: 0.7em;
  }


.gauge-container.seven > .gauge .dial {
  stroke: transparent;
  stroke-width: 5;
  transform: scale(0.9,0.9) translate3d(5.5px, 5.5px, 0);
  fill: rgba(148, 112, 57, 0.42);
}
.gauge-container.seven > .gauge .value {
  stroke: #F8774B;
  stroke-dasharray: none;
  stroke-width: 5;
}
